.navigationbar{
    background: linear-gradient( to left,  #6C4F3A, #48240A) ;
    height: 70px;
    display: flex;
    width: 100%;
    border-radius: 10px;
    padding-left: 5px;
    margin-left: -5px;
    padding-right: 0px;
   
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 3;
}

h1{
    font-family: Cambria;
}
h3{
    font-family: Cambria;
}

p{
    font-family: Cambria;
}

a{
    font-family: Cambria;  
}
.navLinks{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding-right: 20px;
    margin-right: 20px;
    font-size: 160%;
    color: rgb(86, 135, 248);
    margin-right: -15px;
    width: 45%;
}

a{
    color: #007bff;
}

a:hover {
    color: wheat;
}

.title{
    margin-left: 5%;
    width: 70%;
}

.name{
    margin-top: 8px;
    margin-bottom: -10px;
    padding-bottom: -20px;
    color:  #007bff;

}

.job{
    margin-bottom: -20px;
    padding-bottom: -20px;
    color: #007bff;
}

.navlink{
    margin-left: 20px;
    margin-right: 20px;
}
.myVideo{
   height: 600px;
   width: 100%;
   margin-bottom: -50px;
}

.aboutMe{
    display: flex;
    height: 800px;
    padding-top: 200px;
    padding-bottom: 20px;
    padding-left: 15%;
    padding-right: 15%;
   
    background: linear-gradient( to left,wheat, #dfc26e);
    border-radius: 10px;
    margin-top: -50px;
}

.comment1{
    display: none;
    position: absolute;
    left:41%;
    top: 137%;
}

.comment1Bubble{
 
    height: 80px;
    width: 300px;
}

.comment1Text{
    display: block;
    position: absolute;
    left:25%;
    top: 14%;
    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px; */
}

.myImage:hover + .comment1{
    display: block;
}



.myImage{
    height: 500px;
    margin-left: 5%;
    border-radius: 20px;
}

.aboutText{
   
    font-size: 18px;
    margin-right: 10%;
}

.description{
    margin-top: -20px;
    width: 50%;
}

.sectionBreak{
    height: 10%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.resumeSection{
    display: flex;
    margin-top: 150px;
    margin-left: 20%;
    height: 600px;
}

.downloadresume{
    display: flex;
    flex-direction: column;
    justify-items: center;
   
}

.downloadButton{
    margin-left: 5%;
    width: 300px;
 

}

.resume{
    display: flex;
    height: 600px;
    width: 400px;
    justify-content: center;
    margin-left: -10%;
    margin-right: -10%;

}

.resumeTextBox{
    width: 40%;
    margin-top: 50px;
    margin-left: 10%;
    font-size: 20%;
    animation-duration: 1s;
    animation-name: slidein;

}

.resumeText{
    font-size: 25px;
}


@keyframes come-in {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  

.projects{
    background-color: #007bff;
    margin-bottom: 100px;
    padding-bottom: 100px;
    padding-top: 100px;
}

.projectTitle{
    display: flex;
    justify-content: center;
    font-size: 75px;
   
}

.projectBreak{
    height: 100px;
   
}

.projectList{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
}


.linkButton{
    border-radius: 20px;
}

.displaySites{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 20px;
    border-radius: 25px;
}

.displaySites:hover{
    background-color: wheat;
}

.flip-card {
    background-color: transparent;
    width: 400px;
    height: 400px;
    perspective: 1000px;
    border-radius: 25px;
  }


  .websiteName{
    color:#363321;
    margin-top: 5%;
    word-wrap: break-word;
    
}

.websiteinfo{
  

}


.websiteLink{
    font-size: 25px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    color: #007bff;
    word-wrap: break-word;
}

  .websiteImage{
    width: 400px;
    height: 400px;
    border-radius: 25px;
}
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 25px;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 25px;
  }
  
  .flip-card-front {
    background-color: wheat;
    color: black;
    border-radius: 25px;
  }
  
  .flip-card-back {
    background-color: wheat;
    color: black;
    transform: rotateY(180deg);
    border-radius: 25px;
  }

.footer{
    height: 100px;
}

.chat{
    display: flex;
    justify-content: center;
    font-size: 85px;
    color: #423f26;
    text-decoration: underline ;

}

.contactUs{
    display: flex;
    justify-content: center;
       align-items: center;
    
}

.contactForm{
    height: 40vh;
    width: 500px;
    border: #423f26;
    border-style: solid;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
  
}

.arrowImage{
    position: absolute;
    
    transform: rotate(90deg);
    width: 50px;

}

.btn{
    position: fixed;
    top: 90%;
    left: 2%;
    background-color: darkgray;
}

.degree{
    width: 20px;
}

.cougers{
    display: block;
    position: absolute;
    left:20%;
    top: 140%;
    width: 0px;
}

.degree:hover + .cougers{
    cursor: pointer;
    display: block;
    width: 200px;
}

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
    
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .github {
    background: #bb0000;
    color: white;
  }

  .email {
    background: #dd4b39;
    color: white;
  }



@media(max-width:1600px){
    .aboutText{
        font-size: 15px;
        margin-left: -20px;
    }

}


@media  (max-width: 1250px){


    .name{
    font-size: 22px;
    margin-bottom: -5px;
    padding-bottom: -10px;
    }
    
    .job{
        font-size: 17px;
    }
    .description{
        margin-top: -90px;
        margin-left: -30px;
    }

    .aboutText{
        font-size: 14px;
        margin-left: -30px;
    }

    .resumeText{
        margin-top: -20px;
        font-size: 15px;
     
    }

    .resume{
        display: flex;
        height: 500px;
        width: 300px;
        justify-content: center;
        margin-left: -10%;
        margin-right: 10%;
      
    }

    .myImage{
        height: 400px;
        width: 300px;
    }

    .projectTitle{
        font-size: 45px;
       
    }

    .myVideo{
        height: 500px;
        width: 100%;
        margin-bottom: -50px;
     }

    .displaySites{
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 20px;

    }

    .flip-card {
        background-color: transparent;
        width: 200px;
        height: 200px;
        perspective: 800px;
      
      }

      .websiteName{
          font-size: 25px;
          
      }

      .websiteinfo{
        margin-top: -5px;
        margin-bottom: -5px;
        font-size: 15px;
        
    }

      .downloadButton{
          margin-left: -10%;
      }

      .websiteLink{
          font-size: 15px;
          margin-left: 10px;
          margin-bottom: 0px;
                  
      }

      .websiteImage{
          width: 200px;
          height: 200px;
      }

      .flip-card-front {
        width: 200px;
        height: 200px;
      }


      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      
    
}

@media(max-width:810px){
    .aboutText{
        font-size: 12px;
        margin-left: -20px;
    }
    
    .description{
        margin-top: -100px;
        margin-left: -30px;
    }

    .myImage{
        height: 300px;
        width: 250px;
    }

}

@media(max-width: 650px){
    .aboutText{
        font-size: 10px;
        margin-left: -20px;
    }

    .myImage{
        height: 250px;
        width: 200px;
    }

    .myVideo{
        height: 400px;
        width: 100%;
        margin-bottom: -50px;
     }

}

@media(max-width: 450px){
    .aboutText{
        font-size: 10px;
        margin-left: -20px;
    }

    .myImage{
        height: 100px;
        width: 80px;
    }

    .myVideo{
        height: 300px;
        width: 100%;
        margin-bottom: -50px;
     }

}
